.goog-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block
}

.recaptcha-checkbox {
    border: none;
    font-size: 1px;
    height: 28px;
    margin: 4px;
    width: 28px;
    overflow: visible;
    outline: 0;
    vertical-align: text-bottom
}

.recaptcha-checkbox-border {
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #444746;
    font-size: 1px;
    height: 24px;
    position: absolute;
    width: 24px;
    z-index: 1
}

.recaptcha-checkbox-checkmark {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAATsCAMAAADb3wBdAAAAIGNIUk0AAHomAACAhAAA+gAAAIDoAAB1MAAA6mAAADqYAAAXcJy6UTwAAAFBUExURQAAAAAwGgALBgAqFgAWDAABAQAYDQBBIwBIJwA5HwCRTgAXDABuOwAcDwBSLABNKQB7QgCVUAAJBQBxPQAiEgBWLgABAABeMgB6QgA4HgAGAwB2PwBhNABGJgACAQBjNQBmNwADAgBvPABuOwAEAgBtOwB+RAAJBQCDRgANBwBxPQA0HABIJwB4QQBULQBULQB8QwBXLwB9QwBQKwApFgCYUgB2QAAGAwBKKABOKgCARQAHBAAeEAA3HgBXLwAjEwA+IQAFAwBAIwARCQCISQAMBwA1HQAzHAA8IAA/IgCQTgAWDABMKQAZDgCSTgBsOgAPCAAUCwCNTAAOCAASCgAQCQA2HQBRKwAuGQBaMQAtGABSLAAgEQA/IgA4HgCPTQBwPAACAQArFwBgNAATCgAaDgAqFwAIBAAUCwCeVf///4C5DhQAAABpdFJOUwBNEUMjAiZpdVzqJbEthXzG8Q+2N4sBl8VaCr6ccQOgpQWzsgawzA7TFbdUdMKIh8iMyYFC9r8JeH7PDDFZjThkCGgc3BRWU2Fm6SR7KeuuGCHkFx0aV4JKkkiEM2Vb5rQERZseKkQNIKs/1NYAAAABYktHRGolYpUOAAADVElEQVR42u3deVNSURyH8aMtWEkFGRTajeKabFESFuXSoq2UubRnuy3n/b+BuM40E3GH842bsfg8f/jXbwTP5XzmeHXAGCIiokiNjCpT+/YrUwcOsp5EFKXYmDJ16PARRaTxOAtKRFFEOiqJZO0xQaTjNqGYlDwxwcITURSRTqYUkaxNu+eSp5pzp92Pmpm0Uynh2WXOeFxIIkSKItJZtyJNkazNnnPPnW/O5XznnD9t7YUZ90/rZfMFZVW8UV4/RIgURSRbLDmfoJe10g/iTQVzZefjptLWXkwKy1yZzEgXzed1S4i0OyJdiikiVayNuUVqTtnLnkuk2eaXatItkmvql0hVpzWIRNSdSFdqikgVO1dzixT4cNUpUqXDnm4RqcPO/12kTj4gElGUrklTdemmx3VrQ+daRQr29I2CW6TwfdguUvhuRSREov6qXpGmrK1IUzY/L4gUShIiIRINZguaNZ1ueLQosqhZU/g3U4iESDQolXzNGuHPOTs+LP1XaxAJkWhQuimea+riueZWH1qDSIhEve+2Zo1017eubOm+tQaREIl6351l7fSzsiyJZKcRCZEQicKus3b6kS5ec7cKczt7+i4iIRIiUXvaO1rof9O6N+SnH0RCJNrN7mc0kZSrF+zWNCIhEiJR1z3gDhEiIRIi9U0P45pIjxqaSEVEQiREIkRCJERCJERCpL8SKf5YEenJqiKSeYpIiIRIiBRFJLOmiGQaq4pI6xuIhEiIhEhRRDKSSMZsCiIZ82xDEMk8X0EkREIkRIoi0h9T7n3omHrhKVMvFZFMCZEIkRBpEKdejc8KU7U5yZrXiIRIiIRI0abeSFPBd1OmjIkl2bOIhEjDIpKX03zwc5oP/gw7iBBpWESazysiGVPIaz4UOD8QIg2NSGVpKrjpIb0NVK0qfS6iSfEaJNpbIpm0NGVSae3TVVP8rkK0x0Qqadb4Oe3E4i8VuNZEiNTegmaNiWnWmEWsIUKkkEYkkYJ/iZOs8d5iDREihVSWRAru+haVb8ddXyKKINJaQhLJTCQkkcwWpx8iCumd9kbb7z80tLmP2sN+YuWJqL3Pmkj+F00kf4wlJaKu2/6qzX1b1+a2WFIi6rrv29rcD/HOzyZLSkRERL3qJ2+bn1T/Y0TVAAAAKHRFWHRkYXRlOnRpbWVzdGFtcAAyMDI1LTEyLTA3VDA3OjM5OjQ2KzAwOjAwcmm9wAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    border: none;
    height: 30px;
    left: -5px;
    outline: 0;
    position: absolute;
    width: 38px
}

.recaptcha-checkbox-checked .recaptcha-checkbox-border,
.recaptcha-checkbox-checked .recaptcha-checkbox-spinner-gif {
    visibility: hidden
}

.recaptcha-checkbox-checked .recaptcha-checkbox-checkmark {
    background-position: 0 -600px
}


.rc-anchor-normal {
    height: 74px;
    width: 300px
}

.rc-anchor-light {
    background: #f9f9f9;
    color: #000
}

.rc-anchor-light.rc-anchor-normal,
.rc-anchor-light.rc-anchor-compact {
    border: 1px solid #d3d3d3
}

.rc-anchor-checkbox {
    margin: 0 12px 2px 12px
}

.rc-anchor-checkbox-label {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px
}

.rc-anchor-logo-img {
    background: url("assets/images/recaptcha.png");
    background-repeat: no-repeat
}

.rc-anchor-logo-text {
    cursor: default;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center
}
.rc-anchor-light .rc-anchor-logo-text,
.rc-anchor-light div a:link,
.rc-anchor-light div a:visited {
    color: #555
}
.rc-anchor-dark .rc-anchor-logo-text,
.rc-anchor-dark div a:link,
.rc-anchor-dark div a:visited {
    color: #f5f5f5
}

.rc-anchor-logo-portrait {
    margin: 10px 0 0 26px;
    width: 58px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.rc-anchor-logo-img-portrait {
    -webkit-background-size: 32px 32px;
    background-size: 32px;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px
}

.rc-anchor-logo-landscape {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.rc-anchor-logo-img-landscape {
    -webkit-background-size: 24px 24px;
    background-size: 24px;
    display: inline-block;
    height: 24px;
    width: 24px
}

.rc-anchor-logo-landscape-text-holder {
    display: inline-block;
    height: 24px;
    margin: 0 2px 0 2px;
    width: 54px
}

.rc-anchor-normal .rc-anchor-pt,
.rc-anchor-invisible .rc-anchor-pt,
.rc-anchor-compact .rc-anchor-pt {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 8px;
    font-weight: 400
}

.rc-anchor-pt {
    background-image: url("data:image/png;base64,iVBORw0KGgBX2EQZQBOnoDD2UcBhW1sSiNmRQ8RLXQFNGEeygBY2c9ObVv9U1t63RNBc6wgU2VvBPuEb0HRObDgBXlGjaztkBWm8aGJkATRZZa3RzU6xhDAwBuFJvGDokk0hlRv6FSghlBGdtzcqF6RQBVwudRzWvBcGFXHkxMO6F5Dx0B0GGK82EPKTobIlQ1OwBag4xQGEuQbhhZExTpOMDBdWcMLJAH6z05bpVM3n1yIHoBny71Em5nBb3FFaA1IB1nQYk269fH5kcxBuVnl2DwBHU8DmmdyZWV0Kp9/B/utvhXIgX65veQBbxxyTBBhPIp43wBuV2HH3NWZDvKaRUBcaWcBYwCccgG1CS5ayvpLA+VaS2AoJEGZWOY/OJHry+PRBih8RohtGaoLIEyGBdlheMvRrX9ddH3tfKX9eyhoEy/2dl3sqLyixil0zXIrepVxUhxsq0CN8YypdBCrZLgz43ZCkKTB8Pqf4WkFkNSU3fTWFahPQLh42Bv853YXR2dHIBo7Vtbh5kR3Jm/t/o8WUBb4M/nElvLlCkb4TpsrVtByaN2YWM35OlwBOjsdc8PAB01o/BdE5l9unUdAooYXA74zIBawZfP8ccRU+Gb5hvUABVU0zkLigyABoG7f6XMOZHcTVVMBdAFk3zQB1G/Ea9NwaXQnBZnF2RxZlSI96RQBI89vGAM3C9I9p4U+RXPsBdJjXfmUB/Nt6pN2ZX3cUin0lWs98YnyzBaWA3ZOr3R7hqBfatk020qBfBoRLHL6KHIBakhwo3XdbxkBUh6HRnEkfhv+fV1Zrn87g80uFFbUIA9Qtsxx+4pcPURUGvI/BHxZG75dkfdfKKVTm1OlkAQZD1Hb7EeEgylwBdHIenSyS95xEYe5pbgQBYZV2E255ZTuaZHo")
}

.rc-anchor-pt a {
    display: inline;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none
}

.rc-anchor-pt a:hover {
    text-decoration: underline
}

.rc-anchor-normal .rc-anchor-pt {
    margin: 2px 11px 0 0;
    padding-right: 2px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 276px
}

.rc-anchor-compact .rc-anchor-pt {
    margin: 0 0 2px 0;
    width: 132px
}

.rc-anchor-aria-status {
    display: none
}

#rc-anchor-alert,
.rc-anchor-alert {
    color: red;
    font-size: 9px;
    margin: 2px;
    position: absolute;
    top: 0
}

#rc-anchor-classic-warning,
#rc-anchor-v1beta1-shutdown-warning {
    bottom: 0;
    color: #555;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 9px;
    padding: 4px;
    position: absolute;
    width: 190px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 20px
}

#rc-anchor-classic-warning a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 4px;
    margin: -4px
}

#rc-anchor-v1beta1-shutdown-warning a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 4px;
    margin: -4px
}

#rc-anchor-over-quota {
    bottom: 0;
    color: #555;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 9px;
    padding: 4px;
    position: absolute;
    width: 170px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 20px
}

.rc-anchor-compact .rc-anchor-content #rc-anchor-over-quota {
    width: 148px
}

.rc-anchor-normal .rc-anchor-pt.rc-anchor-over-quota-pt {
    width: 130px
}

.rc-anchor-logo-portrait.rc-anchor-over-quota-logo {
    margin-top: 6px
}

#rc-anchor-invisible-over-quota,
#rc-anchor-invisible-classic-warning {
    font-size: 9px;
    line-height: normal
}

#rc-anchor-invisible-over-quota,
#rc-anchor-invisible-classic-warning a,
#rc-anchor-invisible-v1beta1-shutdown-warning a {
    color: white
}

#rc-anchor-invisible-v1beta1-shutdown-warning {
    font-size: 9px;
    line-height: normal
}

.rc-anchor-invisible {
    height: 60px;
    width: 256px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}

.rc-anchor-invisible-text {
    background: #1a73e8;
    color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 166px;
    flex-basis: 166px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: 20px;
    padding: 0 16px;
    white-space: nowrap
}

.rc-anchor-invisible-text strong {
    font-weight: 500
}

.rc-anchor-invisible .rc-anchor-normal-footer .rc-anchor-pt {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    text-align: center;
    width: 70px;
    margin-top: 2px
}

.rc-anchor-logo-img-large {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-background-size: 40px 40px;
    background-size: 40px;
    margin: 5px 15px 0 15px;
    height: 40px;
    width: 40px
}

.rc-anchor-invisible-nohover .rc-anchor-logo-img-large,
.rc-anchor-invisible-hover-hovered .rc-anchor-logo-img-large {
    -webkit-background-size: 44px 44px;
    background-size: 44px;
    margin: 8px 13px 0 13px;
    height: 44px;
    width: 44px
}

.rc-anchor-invisible-nohover .rc-anchor-normal-footer .rc-anchor-pt,
.rc-anchor-invisible-hover-hovered .rc-anchor-normal-footer .rc-anchor-pt {
    opacity: 0
}

.rc-anchor-invisible-nohover .rc-anchor-invisible-text .rc-anchor-pt,
.rc-anchor-invisible-hover-hovered .rc-anchor-invisible-text .rc-anchor-pt {
    opacity: 1
}

.rc-anchor-invisible-text .rc-anchor-pt {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

.rc-anchor-invisible-text .rc-anchor-pt a:link,
.rc-anchor-invisible-text .rc-anchor-pt a:visited {
    color: white;
    font-size: 10px
}

.rc-anchor-invisible-hover .rc-anchor-invisible-text .rc-anchor-pt a:link {
    display: none
}

.rc-anchor-invisible-nohover .rc-anchor-invisible-text .rc-anchor-pt a:link,
.rc-anchor-invisible-hover-hovered .rc-anchor-invisible-text .rc-anchor-pt a:link {
    display: inline
}

.rc-anchor-invisible-hover .rc-anchor-normal-footer .rc-anchor-pt a:link {
    display: inline
}

.rc-anchor-invisible-nohover .rc-anchor-normal-footer .rc-anchor-pt a:link,
.rc-anchor-invisible-hover-hovered .rc-anchor-normal-footer .rc-anchor-pt a:link {
    display: none
}

.rc-audiochallenge-response-field {
    margin: 7px;
    text-align: center
}

.rc-audiochallenge-response-field .rc-response-input-field {
    width: 220px
}

.rc-audiochallenge-error-message {
    color: #d93025;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 20px 20px 0 20px
}

.rc-audiochallenge-instructions {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 20px 10px 20px
}

.rc-audiochallenge-play-button {
    margin: 0 20px 0 20px
}

.rc-audiochallenge-play-button .rc-button-default {
    background: #d8d8d8;
    color: #000;
    font-weight: 500;
    width: 100%
}

.rc-audiochallenge-input-label {
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 20px 10px 20px
}

.rc-audiochallenge-tdownload {
    margin: 5px 20px 5px 20px;
    text-align: center
}

.rc-audiochallenge-tdownload-link {
    background-image: url(https://www.gstatic.com/recaptcha/api2/download.png);
    background-repeat: no-repeat;
    -webkit-background-size: 36px 36px;
    background-size: 36px;
    color: transparent;
    display: inline-block;
    height: 36px;
    opacity: .55;
    overflow: hidden;
    width: 36px
}

.rc-audiochallenge-tdownload-link:focus-visible {
    background-color: #d8d8d8
}

@media screen and (forced-colors:active) and (prefers-color-scheme:dark) {
    .rc-audiochallenge-tdownload-link {
        background-image: url(https://www.gstatic.com/recaptcha/api2/download_white.png);
        background-repeat: no-repeat;
        -webkit-background-size: 36px 36px;
        background-size: 36px;
        color: transparent;
        display: inline-block;
        height: 36px;
        opacity: .55;
        overflow: hidden;
        width: 36px
    }
}

.rc-audiochallenge-tdownload-link-on-dark {
    background-image: url(https://www.gstatic.com/recaptcha/api2/download_white.png);
    background-repeat: no-repeat;
    -webkit-background-size: 36px 36px;
    background-size: 36px;
    color: transparent;
    display: inline-block;
    height: 36px;
    opacity: .55;
    overflow: hidden;
    width: 36px
}

.rc-audiochallenge-tdownload-link-on-dark:focus-visible {
    background-color: #d8d8d8
}

.rc-audiochallenge-tdownload-link:focus,
.rc-audiochallenge-tdownload-link:hover {
    opacity: .8;
    outline: none
}

.rc-audiochallenge-tdownload-link-on-dark:focus,
.rc-audiochallenge-tdownload-link-on-dark:hover {
    opacity: .8;
    outline: none
}

.rc-button-default {
    background: #1a73e8;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    line-height: 42px;
    min-width: 100px;
    padding: 0 10px 0 10px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    transition: all .5s ease
}

.rc-button-default:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2pt #185abc;
    box-shadow: 0 0 0 2pt #185abc
}

.rc-button-default-disabled {
    background: rgba(73, 143, 225, .5);
    cursor: default
}

.rc-button-red {
    background: #e24a4a
}

.rc-button-default-disabled.rc-button-red {
    background: rgba(226, 74, 74, .49)
}

.rc-canvas-image {
    display: none
}

.rc-canvas-canvas {
    cursor: pointer
}

body {
    margin: 0
}

.rc-imageselect-instructions strong {
    font-weight: 900;
    display: block;
    font-size: 28px
}

.rc-footer {
    font-family: Roboto, helvetica, arial, sans-serif;
    position: relative;
    width: 100%
}

.rc-separator {
    border-top: 1px solid #dfdfdf;
    margin-bottom: 1px
}

.rc-controls {
    width: 100%
}

.primary-controls {
    height: 60px
}

.rc-buttons {
    float: left;
    height: 48px;
    margin: 6px 0 6px 6px;
    background-repeat: no-repeat
}

.button-holder {
    float: left;
    height: 48px
}

.rc-button-audio {
    background: url("assets/images/skip.png")
}

.rc-button-help {
    background: url("assets/images/fullscreen.png")
}

.rc-button {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    cursor: pointer;
    height: 48px; width: 48px;
    opacity: .55;
    padding: 0; border: 0;
    background-repeat: no-repeat;
    background-position: center
}

.verify-button-holder {
    float: right;
    margin: 8px 8px 9px 0
}

.rc-imageselect-payload {
    min-width: 240px;
    margin: 0 7px;
    padding: 7px 0
}


.rc-imageselect-instructions {
    height: 113px;
    width: 100%;
    margin-bottom: 7px;
    position: relative
}

.rc-imageselect-desc-wrapper {
    background-color: #1a73e8;
    position: relative;
    padding: 24px;
    color: white;
    height: 66px;
    font-size: 16px
}
